body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icons {
  height: 75px;
  width: 75px;
}
.currentWeather {
  border: 1px solid black;
  border-radius: 10px;
}
.currentRow {
  border-right: 1px solid black;
}
.tempArrow {
  height: 20px;
}
.lowTemp {
  height: 20px;
  transform: rotate(180deg);
}
.directionNorth {
  height: 20px;
}
.directionNorthEast {
  height: 20px;
  transform: rotate(45deg)
}
.directionEast {
  height: 20px;
  transform: rotate(90deg)
}
.directionSouthEast {
  height: 20px;
  transform: rotate(135deg)
}
.directionSouth {
  height: 20px;
  transform: rotate(180deg)
}
.directionSouthWest {
  height: 20px;
  transform: rotate(225deg)
}
.directionWest {
  height: 20px;
  transform: rotate(270deg)
}
.directionNorthWest {
  height: 20px;
  transform: rotate(315deg)
}